@import '~@angular/material/theming';

@mixin kpi-component-theme($theme) {
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);
    $typography-config: mat-typography-config();

    /** TODO: change class to the components one and not of the panel */
    app-kpi {
        .kpi {
            @include _mat-theme-overridable-elevation(2, $theme);
            background-color: mat-color($accent, 300);
            color: mat-contrast($accent, 300);

            &-title {
                font-size: mat-font-size($typography-config, title);
                // border-bottom: 1px solid mat-color($primary);

                &::after {
                    background-color: mat-color($primary);
                }
            }

            &-percent {
                font-size: mat-font-size($typography-config, body-1);
                color: mat-color($foreground, secondary-text);
            }

            &-value {
                font: {
                    size: mat-font-size($typography-config, display-1);
                    weight: mat-font-weight($typography-config, title);
                }
            }

            &-divider {
                background-color: mat-color($foreground, divider);
            }
        }
    }
}

@mixin mat-card-theme($theme) {
    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);

    .mat-card {
        @include _mat-theme-overridable-elevation(1, $theme);
        background: mat-color($background, card);
        color: mat-color($foreground, text);

        // Needs extra specificity to be able to override the elevation selectors.
        &.mat-card-flat {
            @include _mat-theme-overridable-elevation(0, $theme);
        }
    }

    .mat-card-subtitle {
        color: mat-color($foreground, secondary-text);
    }
}

@mixin mat-card-typography($config) {
    .mat-card {
        font-family: mat-font-family($config);
    }

    .mat-card-title {
        font: {
            size: mat-font-size($config, headline);
            weight: mat-font-weight($config, title);
        }
    }

    .mat-card-header .mat-card-title {
        font-size: mat-font-size($config, title);
    }

    .mat-card-subtitle,
    .mat-card-content {
        font-size: mat-font-size($config, body-1);
    }
}
