@import '~@angular/material/theming';

@mixin footer-component-theme($theme) {
    $primary: map-get($theme, primary);
    $typography-config: mat-typography-config();

    .app-footer {

        footer {
            background-color: mat-color($primary);
            color: mat-color($primary, default-contrast);
        }

        span {
            font-size: mat-font-size($typography-config, subheading-1);
        }
    }
}
