
$mat-custom-green: (
    50 : #e2f1e9,
    100 : #b6dcc8,
    200 : #86c5a3,
    300 : #56ad7e,
    400 : #319c62,
    500 : #0d8a46,
    600 : #0b823f,
    700 : #097737,
    800 : #076d2f,
    900 : #035a20,
    A100 : #8bffa9,
    A200 : #58ff83,
    A400 : #25ff5d,
    A700 : #0cff4a,
    contrast: (
        50: $dark-primary-text,
        100: $dark-primary-text,
        200: $dark-primary-text,
        300: $dark-primary-text,
        400: $dark-primary-text,
        500: $light-primary-text,
        600: $light-primary-text,
        700: $light-primary-text,
        800: $light-primary-text,
        900: $light-primary-text,
        A100: $dark-primary-text,
        A200: $light-primary-text,
        A400: $light-primary-text,
        A700: $light-primary-text
    )
);

$mat-custom-amber: (
    50 : #faf6e4,
    100 : #f2e7bc,
    200 : #e9d88f,
    300 : #e0c862,
    400 : #dabc40,
    500 : #d3b01e,
    600 : #cea91a,
    700 : #c8a016,
    800 : #c29712,
    900 : #b7870a,
    A100 : #fff6e3,
    A200 : #ffe6b0,
    A400 : #ffd77d,
    A700 : #ffcf63,
    contrast: (
        50: $dark-primary-text,
        100: $dark-primary-text,
        200: $dark-primary-text,
        300: $dark-primary-text,
        400: $dark-primary-text,
        500: $light-primary-text,
        600: $light-primary-text,
        700: $light-primary-text,
        800: $light-primary-text,
        900: $light-primary-text,
        A100: $dark-primary-text,
        A200: $light-primary-text,
        A400: $light-primary-text,
        A700: $light-primary-text
    )
);

$mat-custom-red:  (
    50 : #fce1e4,
    100 : #f7b5bd,
    200 : #f18491,
    300 : #eb5364,
    400 : #e72e43,
    500 : #e30922,
    600 : #e0081e,
    700 : #dc0619,
    800 : #d80514,
    900 : #d0020c,
    A100 : #fff8f8,
    A200 : #ffc5c6,
    A400 : #ff9294,
    A700 : #ff797b,
    contrast: (
        50: $dark-primary-text,
        100: $dark-primary-text,
        200: $dark-primary-text,
        300: $dark-primary-text,
        400: $dark-primary-text,
        500: $light-primary-text,
        600: $light-primary-text,
        700: $light-primary-text,
        800: $light-primary-text,
        900: $light-primary-text,
        A100: $dark-primary-text,
        A200: $light-primary-text,
        A400: $light-primary-text,
        A700: $light-primary-text
    )
);
