@import '~@angular/material/theming';

@mixin header-component-theme($theme) {
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $background: map-get($theme, background);
    $typography-config: mat-typography-config();

    .app-header {

        .mat-toolbar {
            background-color: mat-color($primary);
            color: mat-color($primary, default-contrast);
        }

        .navigation-link {
            color: mat-color($accent, default-contrast);

            &--active {
                background: mat-color($background, focused-button) !important;
            }
        }

        .app-logo {
            color: mat-color($primary, default-contrast);
        }

        .user-actions {
            @include mat-typography-level-to-styles($typography-config, subheading-2);

            background-color: mat-color($accent);
        }
    }
}
