@import '~@angular/material/theming';
@import '~bootstrap/scss/bootstrap-grid.scss';

@mixin login-page-component-theme($theme) {
    $primary: map-get($theme, primary);
    $foreground: map-get($theme, foreground);
    $typography-config: mat-typography-config();

    app-login-page {

        .login {
            box-shadow:
                0 12px 20px -14px rgba(0, 0, 0, 0.4),
                0  0   10px   1px rgba(53, 149, 252, 0.6);
        }

        .login-header {
            background-color: mat-color($app-palette-blue);
            flex: 1;

            @include media-breakpoint-down(sm) {
                background-color: white;
            }
        }

        .login-form__field {
            .mat-form-field-wrapper {
                width: 100%;
            }
        }

        .submit-btn {

            button {
                background-color: mat-color($app-palette-indigo, A400);
                color: mat-contrast($app-palette-indigo, A400);
                @include mat-elevation(6);

                &:hover:not(:disabled),
                &:focus:not(:disabled) {
                    @include mat-overridable-elevation(
                        6,
                        mat-color($app-palette-indigo, A400),
                        1
                    );
                }
            }
        }
    }
}
