<div class="login">
    <div class="login-header">
        <div class="login-logo">
            <img src="/assets/images/logo.png" alt="Angular Logo">
        </div>
    </div>

    <div class="login-horizontal-separator"></div>

    <form class="login-form"
        autocomplete="off"
        [formGroup]="loginForm"
        (ngSubmit)="onSubmit()">

        <div class="login-form__fields">
            <mat-form-field appearance="standard" class="login-form__field">
                <mat-label>Username</mat-label>

                <input matInput
                    type="text"
                    placeholder="Your username"
                    title="Your username"
                    aria-label="Username"
                    spellcheck="false"
                    formControlName="username"
                    maxlength="32">

                <mat-error *ngIf="username?.errors?.required">
                    Username is <strong>required</strong>
                </mat-error>
                <mat-error *ngIf="username?.errors?.minlength">
                    Username must be at least 5 characters long.
                </mat-error>
                <mat-error *ngIf="username?.errors?.maxlength">
                    Username must be no more than 32 characters in length.
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="standard" class="login-form__field">
                <mat-label>Password</mat-label>

                <input matInput
                    [type]="passwordFieldType"
                    placeholder="Your password"
                    title="Your password"
                    aria-label="Password"
                    formControlName="password"
                    maxlength="128">

                <mat-icon matSuffix
                    (click)="togglePasswordVisibility()">
                    {{ passwordVisibility ? 'visibility' : 'visibility_off' }}
                </mat-icon>

                <mat-error *ngIf="password?.errors?.required">
                    Password is <strong>required</strong>.
                </mat-error>
                <mat-error *ngIf="password?.errors?.minlength">
                    Password must be at least 8 characters long.
                </mat-error>
                <mat-error *ngIf="password?.errors?.maxlength">
                    Password must be no more than 128 characters in length.
                </mat-error>
            </mat-form-field>
        </div>

        <div class="submit-btn">
            <button type="submit" class="btn btn-login"
                rippleOnClick
                [disabled]="loginForm.invalid || loggingIn">
                {{ loggingIn ? 'Logging In...' : 'Log In' }}
            </button>
        </div>
    </form>
</div>
