@import '~@angular/material/theming';

@mixin action-bar-component-theme($theme) {
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $typography-config: mat-typography-config();

    /** TODO: change class to the components one and not of the panel */
    .app-action-bar {

        .datetimerangepicker__button {
            background-color: mat-color($accent);
            color: mat-color($accent, default-contrast);
        }


        .from-to__wrapper {

            /*
                had to write layout style in theme file,
                cause the following class is generated as component template
                so there are no custom attributes attached to it, necessary for
                encapsulation
            */
            .mat-form-field-wrapper {
                padding-bottom: 0;
            }

            .mat-form-field-infix {
                width: auto;
            }

            .mat-form-field-flex:hover {

                .mat-form-field-outline-thick {
                    color: mat-color($primary);
                }
            }
        }

    }
}
