<div class="getting-data__progress-bar">
    <ng-progress id="getting-data__progress-bar"
        #gettingDataBar
        fixed="false"
        color="red"
        [spinner]="false">
    </ng-progress>
</div>

<div class="line-separator"></div>

<div class="container-fluid action-bar">
    <div class="date-time-range__wrapper">
        <button class="datetimerangepicker__button"
            #datetimerangeEl
            mat-fab
            (click)="toggleDateTimeRange()">
            <mat-icon>date_range</mat-icon>
        </button>

        <div class="horizontal-space2"></div>

        <div class="from-to__wrapper">
            <mat-form-field appearance="outline"
                [owlDateTimeTrigger]="fromDateTime">
                <mat-label>From</mat-label>
                <input readonly
                    matInput
                    [(ngModel)]="from"
                    [max]="max"
                    [owlDateTime]="fromDateTime"
                    (dateTimeChange)="onDateTimeChange($event.value, to)">
            </mat-form-field>

            <owl-date-time #fromDateTime
                [pickerMode]="'dialog'"
                [hour12Timer]="true">
            </owl-date-time>

            <div class="horizontal-space2"></div>

            <mat-form-field appearance="outline"
                [owlDateTimeTrigger]="toDateTime">
                <mat-label>To</mat-label>
                <input readonly
                    matInput
                    [(ngModel)]="to"
                    [min]="from"
                    [max]="max"
                    [owlDateTime]="toDateTime"
                    (dateTimeChange)="onDateTimeChange(from, $event.value)">
            </mat-form-field>

            <owl-date-time #toDateTime
                [pickerMode]="'dialog'"
                [hour12Timer]="true">
            </owl-date-time>
        </div>
    </div>

    <!-- show in desktop mode -->
    <div class="remaining-space"></div>

    <!-- show in handset mode -->
    <div class="vertical-space2"></div>

    <div class="last-updated">
        <span>Last Updated</span>
        <h5>{{ lastUpdated | date: 'dd-MM-yyyy h:mm:ss a' }}</h5>
    </div>
</div>
